html, body, div, img, table, thead,
tbody, col, tr, td, p, span, strong,
sup, h1, h2, h3, h4, h5, h6, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
}

.left {
	border: solid 1px black;
	background: yellow;
	width: 100%;


}

.extra {
	background: blue;
	border: solid 1px black;
    width: 25%;
    float: right;`
}
.clear {
	clear: both;
}